body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    background-color: #fce4ec;
    overflow: hidden;
}

/* 7 Saniye Gecikmeli Takip Eden Kedi */
#follower-cat {
    position: fixed;
    width: 50px;
    pointer-events: none;
    z-index: 10000;
    transition: all 7s cubic-bezier(0.1, 0.1, 0.1, 1);
    left: 0;
    top: 0;
}

.main-container {
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

#meow-btn {
    background: #6c5ce7;
    color: white;
    border: none;
    padding: 20px 50px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 8px 0 #4834d4;
    transition: 0.1s;
}

#meow-btn:active {
    transform: translateY(4px);
    box-shadow: 0 4px 0 #4834d4;
}

#status-text { margin-top: 20px; color: #888; }
